/* 块注释，
快捷键shift + alt + A 
*/
/* Less语法：
加减乘直接写计算表达式
出发需要加()或者. */
.box {
  width: 110px;
  width: 200px;
  width: 50rem;
}
/* Less嵌套写法生成后代选择器
.父选择器{
    // 父级样式
    .子选择器{
        // 子级样式
    }
}
&:hover 当前元素的伪元素选择器，而不是子元素
&类名，可以视为交集选择器，一个标签的多个类名
*/
.father {
  color: #000;
}
.father .child {
  width: 100px;
}
.father .child:hover {
  color: aqua;
}
/* Less变量设置属性值，把数据提前存储到一个容器，设置属性值为容器名，相当于C语言全局变量，只要改了定义部分，剩下的都跟着变化，不用一个个跟着变，语法如下：
定义变量：@变量名:值
使用变量：CSS属性：@变量名*/
.box {
  color: pink;
}
